.DS_Store
sdk/.build
strata-example/strata-example
strata-example/strata.db
component-example/componentexample
component-example/component-example
cmd/strata/web/dist
cmd/strata/web/node_modules
strata-app
strata
